{% extends 'base.html' %} 


{% comment %} Importaciones de datatable {% endcomment %}
{% block styles %} 
 {% include 'otros/datatable_styles.html' %} 
{% endblock styles %} 
 {% block scripts%}
  {% include 'otros/datatable_scripts.html' %} 
{% endblock scripts %} 

{% block title %}Cotizaciones{% endblock title %} 
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h2>Lista de Cotizaciones</h2>
            <a href="{% url 'cotizacion_new' %}" class="btn btn-primary"
              >Nuevo Cotización</a
            >
          </div>
        </div>

        <div class="card-body">
          <table id="table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Oportunidad</th>
                <th>Cliente</th>
                <th>Proveedor</th>
                <th>Contacto</th>
                <th>Incoterm</th>
                <th>Tipo de operacion</th>
                <th>Fecha de cotizacion</th>
                <th>Moneda</th>
                <th>Tipo de cambio</th>
                <th>Plazo de entrega</th>
                
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for cotizacion in cotizacion_list %}
              <tr>
                <td>{{ cotizacion.pk }}</td>
                <td>{{ cotizacion.id_oportunidad.pk }}</td>
                <td>{{ cotizacion.id_oportunidad.id_cliente }}</td>
                <td>{{ cotizacion.id_oportunidad.id_proveedor }}</td>
                <td>{{ cotizacion.id_oportunidad.nombre_contacto }}</td>
                <td>{{ cotizacion.incoterm }}</td>
                <td>{{ cotizacion.tipo_operacion }}</td>
                <td>{{ cotizacion.fecha_cotizacion }}</td>
                <td>{{ cotizacion.moneda }}</td>
                <td>{{ cotizacion.tipo_cambio }}</td>
                <td>{{ cotizacion.plazo_entrega }}</td>
                {% comment %} <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default-{{ cotizacion.pk }}">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                </td> {% endcomment %}
                <td class="d-flex justify-content-between">
                  <a href="{% url 'cotizacion_edit' cotizacion.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                  <a href="{% url 'cotizacion_delete' cotizacion.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% for cotizacion in cotizacion_list %}
  <div class="modal fade" id="modal-default-{{ cotizacion.pk }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detalles Cotizacion: {{cotizacion.pk}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ cotizacion.probabilidad_a_oc }}</p>
          <p>{{ cotizacion.observaciones }}</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
{% endfor %}
{% endblock %}
