{% extends 'base.html' %}

{% block content %}

<style>
  .narrow-card {
    width: 80%;
  }
</style>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card card-primary mb-5 narrow-card">
        <div class="card-header">
          <h3 class="card-title">Formulario de Proveedor</h3>
        </div>
        <form role="form" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.nombre_proveedor.id_for_label }}">Nombre Proveedor:</label>
                {{ form.nombre_proveedor }}
              </div>
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.direccion_proveedor.id_for_label }}">Dirección Proveedor:</label>
                {{ form.direccion_proveedor }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.codigo_postal_proveedor.id_for_label }}">Código Postal:</label>
                {{ form.codigo_postal_proveedor }}
              </div>
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.localidad_proveedor.id_for_label }}">Localidad Proveedor:</label>
                {{ form.localidad_proveedor }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.pais_proveedor.id_for_label }}">País Proveedor:</label>
                {{ form.pais_proveedor }}
              </div>
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.telefono_proveedor.id_for_label }}">Teléfono Proveedor:</label>
                {{ form.telefono_proveedor }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.correo_proveedor.id_for_label }}">Correo Proveedor:</label>
                {{ form.correo_proveedor }}
              </div>
              <div class="form-group col-md-6 mb-4">
                <label for="{{ form.area_proveedor.id_for_label }}">Área Proveedor:</label>
                {{ form.area_proveedor }}
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 mb-4">
                <label for="{{ form.observaciones_proveedor.id_for_label }}">Observaciones:</label>
                <textarea name="{{ form.observaciones_proveedor.name }}" id="{{ form.observaciones_proveedor.id_for_label }}" class="form-control" style="height: 150px; resize: none;" placeholder="{{ form.observaciones_proveedor.label }}"></textarea>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
