{% extends 'base.html' %} {% block title %}Detalle del Cliente{% endblock %}
 {% block content %}
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>Detalle del Cliente</h2>
      <p>Nombre: {{ cliente.nombre_cliente }}</p>
      <p>Dirección: {{ cliente.direccion_cliente }}</p>
      <p>Código Postal: {{ cliente.codigo_postal_cliente }}</p>
      <p>Localidad: {{ cliente.localidad_cliente }}</p>
      <p>País: {{ cliente.pais_cliente }}</p>
      <p>Teléfono: {{ cliente.telefono_cliente }}</p>
      <p>Correo: {{ cliente.correo_cliente }}</p>
      <p>Área: {{ cliente.area_cliente }}</p>
      <p>Observaciones: {{ cliente.observaciones_cliente }}</p>
    </div>
  </div>
</div>
{% endblock %}
