{% extends 'base.html' %} {% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Formulario de Cliente</h3>
        </div>
        <form role="form" method="post">
          {% csrf_token %}
          <div class="card-body">{{ form.as_p }}</div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
