{% extends 'base.html' %} 

{% comment %} Importaciones de datatable {% endcomment %}
{% block styles %}
  {% include 'otros/datatable_styles.html' %}
{% endblock styles %}

{% block scripts %}
  {% include 'otros/datatable_scripts.html' %}
{% endblock scripts %}


{% block title %}Clientes{% endblock title %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h2>Lista de Clientes</h2>
            <a href="{% url 'cliente_new' %}" class="btn btn-primary">Nuevo Cliente</a>
          </div>
        </div>
      

        <div class="card-body">
          <table id="table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Código Postal</th>
                <th>Localidad</th>
                <th>País</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Área</th>
                <th>Observaciones</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for cliente in cliente_list %}
              <tr>
                <td>{{ cliente.id_cliente }}</td>
                <td>{{ cliente.nombre_cliente }}</td>
                <td>{{ cliente.direccion_cliente }}</td>
                <td>{{ cliente.codigo_postal_cliente }}</td>
                <td>{{ cliente.localidad_cliente }}</td>
                <td>{{ cliente.pais_cliente }}</td>
                <td>{{ cliente.telefono_cliente }}</td>
                <td>{{ cliente.correo_cliente }}</td>
                <td>{{ cliente.area_cliente }}</td>
                <td>{{ cliente.observaciones_cliente }}</td>
                <td>
                  <a
                    href="{% url 'cliente_edit' cliente.id_cliente %}"
                    class="btn btn-warning"
                    >Editar</a
                  >
                  <a
                    href="{% url 'cliente_delete' cliente.id_cliente %}"
                    class="btn btn-danger"
                    >Eliminar</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
