{% extends 'base.html' %} 
{% block title %}Oportunidades{% endblock title %}
{% block breadcrumb %}Lista de Oportunidades{% endblock breadcrumb %}

{%comment %} Importaciones de datatable {% endcomment %} 
{% block styles %} 
  {%include 'otros/datatable_styles.html' %} 
{% endblock styles %} 

{% block scripts%} 
  {% include 'otros/datatable_scripts.html' %} 
{% endblock scripts %} 

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h2>Lista de Oportunidades</h2>
            <a href="{% url 'oportunidad_new' %}" class="btn btn-primary"
              >Nueva Oportunidad</a
            >
          </div>
        </div>

        <div class="card-body">
          <table id="table" class="table table table-bordered table-striped">
            <thead>
              <tr>
                <th>OP</th>
                <th>Gestión Comercial</th>
                <th>Cliente</th>
                <th>Proveedor</th>
                <th>Contacto</th>
                <th>Área</th>
                <th>Fecha Inicio</th>
                <th>Fecha Término</th>
                <th>Monto Probable</th>
                <th>Fecha Facturación</th>
                <th>Más</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for oportunidad in oportunidad_list %}
              <tr>
                <td>{{ oportunidad.pk }}</td>
                <td>{{ oportunidad.id_gestion_comercial }}</td>
                <td>{{ oportunidad.id_cliente }}</td>
                <td>{{ oportunidad.id_proveedor }}</td>
                <td>{{ oportunidad.nombre_contacto }}</td>
                <td>{{ oportunidad.area }}</td>
                <td>{{ oportunidad.fecha_inicio }}</td>
                <td>{{ oportunidad.fecha_termino }}</td>
                <td>{{ oportunidad.monto_probable }}</td>
                <td>{{ oportunidad.fecha_facturacion }}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default-{{ oportunidad.pk }}">
                    <i class="fas fa-plus-circle"></i>
                  </button>
                </td>
                <td class="d-flex justify-content-between">
                  <a href="{% url 'oportunidad_edit' oportunidad.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
                  <a href="{% url 'oportunidad_delete' oportunidad.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% for oportunidad in oportunidad_list %}
  <div class="modal fade" id="modal-default-{{ oportunidad.pk }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detalles Oportunidad: {{oportunidad.pk}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Probabilidad a OC: {{ oportunidad.probabilidad_a_oc }}</p>
          <p>Alcance: {{ oportunidad.alcance }}</p>
          <p>Observaciones: {{ oportunidad.observaciones }}</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
{% endfor %}
{% endblock %}
