{% extends 'base.html' %} {% block content %}
<h1>Eliminar oportunidad </h1>
<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2>
        ¿Deseas eliminar la oportunidad: {{ oportunidad.id_oportunidad }}?
      </h2>

      <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Eliminar</button>
        <a class="btn btn-secondary" href="{% url 'oportunidad_list' %}"
          >Cancelar</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
