{% extends 'base.html' %}

{% block title %}Oportunidades{% endblock title %}

{% block styles %}
  {% include 'otros/datatable_styles.html' %}
  <style>
    /* Ajustar el tamaño del texto en las celdas */
    @media (max-width: 768px) {
      .table td, .table th {
        font-size: 12px;
      }
      .acciones-buttons {
        display: flex;
        justify-content: space-between;
      }
    }

    /* Ajustar el ancho máximo de las columnas */
    .table th.numero-columna,
    .table td.numero-columna,
    .table th.acciones-columna,
    .table td.acciones-columna {
      max-width: 100px; /* Puedes ajustar el tamaño en píxeles según tus preferencias */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  </style>
{% endblock styles %}

{% block scripts %}
  {% include 'otros/datatable_scripts.html' %}
  <script>
 
  </script>


{% endblock scripts %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">

        <div class="card-header">
          <div class="d-flex justify-content-between">
            <h2>Lista de Oportunidades</h2>
            <a href="{% url 'oportunidad_new' %}" class="btn btn-primary">Nueva Oportunidad</a>
          </div>
        </div>

        <div class="card-body">
          <!-- Eliminar la clase table-responsive para permitir que la tabla ocupe todo el ancho disponible -->
          <table id="table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="numero-columna">OP</th>
                <th>Gestión Comercial</th>
                <th>Cliente</th>
                <th>Proveedor</th>
                <th>Contacto</th>
                <th>Área</th>
                <th>Fecha Inicio</th>
                <th>Fecha Término</th>
                <th>Monto Probable</th>
                <th>Fecha Facturación</th>
                <th class="acciones-columna">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for oportunidad in oportunidad_list %}
              <tr>
                <td class="numero-columna">{{ oportunidad.pk }}</td>
                <td>{{ oportunidad.id_gestion_comercial }}</td>
                <td>{{ oportunidad.id_cliente }}</td>
                <td>{{ oportunidad.id_proveedor }}</td>
                <td>{{ oportunidad.nombre_contacto }}</td>
                <td>{{ oportunidad.area }}</td>
                <td>{{ oportunidad.fecha_inicio }}</td>
                <td>{{ oportunidad.fecha_termino }}</td>
                <td>{{ oportunidad.monto_probable }}</td>
                <td>{{ oportunidad.fecha_facturacion }}</td>
                <td>
                  <div class="d-block d-md-none acciones-buttons"> <!-- Mostrar acciones solo en pantallas pequeñas -->
                    <a href="{% url 'oportunidad_edit' oportunidad.pk %}" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'oportunidad_delete' oportunidad.pk %}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                  </div>
                  <div class="d-none d-md-block"> <!-- Mostrar acciones solo en pantallas medianas y grandes -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-default-{{ oportunidad.pk }}">
                      <i class="fas fa-plus-circle"></i>
                    </button>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% for oportunidad in oportunidad_list %}
  <div class="modal fade" id="modal-default-{{ oportunidad.pk }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Detalles Oportunidad: {{oportunidad.pk}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Probabilidad a OC: {{ oportunidad.probabilidad_a_oc }}</p>
          <p>Alcance: {{ oportunidad.alcance }}</p>
          <p>Observaciones: {{ oportunidad.observaciones }}</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <a href="{% url 'oportunidad_edit' oportunidad.pk %}" class="btn btn-warning"><i class="fas fa-edit"></i> Editar</a>
          <a href="{% url 'oportunidad_delete' oportunidad.pk %}" class="btn btn-danger"><i class="fas fa-trash"></i> Eliminar</a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
