{% extends 'base.html' %} {% block content %}

<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Litio</h3>

 


    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
        title="Collapse"
      >
      
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
        title="Remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">   <p>La fuente principal de litio en Argentina se encuentra en los salares de la Puna mientas que, en 
    otros países, Australia, por ejemplo, realizan la extracción del recurso desde pegmatitas. Esto, 
    simultáneamente, representa ventaja y desventaja, ya que Argentina posee menores costos operativos 
    en términos relativos, pero los tiempos de reacción a shocks de demanda son más lentos. 
    Actualmente Argentina es el cuarto productor mundial del recurso, luego de Australia, Chile y 
    China. El triángulo del litio compuesto por Argentina, Bolivia y Chile cuenta con cerca del 65% de los 
    recursos mundiales de litio y alcanza el 29,5% de la producción mundial total para 2020. No obstante, 
    Argentina cuenta con un enorme potencial para aumentar su participación en la oferta global del mineral. 
    Al mismo tiempo, presenta el desafío de mejorar la eficiencia y la sustentabilidad ambiental de las 
    técnicas evaporíticas implementadas actualmente, como también de diseñar innovadores procesos no 
    evaporíticos e incluso destinar recursos a la investigación para el desarrollo de nuevos métodos que 
    permitan aprovechar el resto de los elementos presentes en la salmuera.
    </p></div>
  <!-- /.card-body -->
  <div class="card-footer">Reunión sobre procesos proximo martes</div>
  <!-- /.card-footer-->
</div>
<!-- /.card -->



<!-- Default box -->
<div class="card">
  <div class="card-header">
    <h3 class="card-title">Vaca Muerta</h3>
    <div class="card-tools">
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="collapse"
        title="Collapse"
      >
        <i class="fas fa-minus"></i>
      </button>
      <button
        type="button"
        class="btn btn-tool"
        data-card-widget="remove"
        title="Remove"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <img src="static/adminlte-3.2.0/img/vaca-muerta-historia-2.png" alt="Vaca Muerta Image" class="img-fluid">
    <p>Mientras que la formación Vaca Muerta mantiene sus características litológicas de rocas sedimentarias (margas bituminosas) desde la sierra del mismo nombre, hasta acuñarse lateralmente en el subsuelo, aproximadamente en el centro de la cuenca y al sudeste de Catriel. En gran parte de esta gran extensión del subsuelo, donde se desarrolla la formación Vaca Muerta, es factible desarrollar la técnica de extracción de shale gas y shale oil.

    En suma, deberá llamarse “yacimiento” a cada trampa, estratigráfica, estructural o combinada, que llevará el nombre y la sigla de pozo, de acuerdo con la Resolución 1040/09 sobre nomenclatura de pozos.
    
    Otro detalle interesante es que frecuentemente los geólogos e ingenieros de idioma inglés llaman a la litología de la formación Vaca Muerta como “esquistos”.
    
    En realidad, aquí vuelve a surgir un desencuentro idiomático. Las rocas se clasifican en cuatro grupos con características propias: ígneas, sedimentarias, metamórficas y piroclásticas.
    
    Las sedimentarias tienen sus planos de estratificación sin alterar térmicamente, mientras que las metamórficas, al haber estado sometidas a un intenso calor, adquieren la característica física donde los planos de estratificación pasan a denominarse esquistosidad. Un ejemplo cotidiano de ello son las lajas de pizarra para techo.
    </p>
  </div>
  <!-- /.card-body -->
  <div class="card-footer">Muchas gracias por sus buenas intenciones!</div>
  <!-- /.card-footer-->
</div>
<!-- /.card -->

{% endblock content %}
